/src/pages/core/connection.php
admin/admin.php
/ms33956204.txt
/.ftpquota
/.htaccess
/archive
/.well-known
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml