body {
    font-family: 'Titillium Web', sans-serif;
}
a {
    color: #b34b32;
}
div.contenu p, h2, h3, h4 {
    margin-left: 10%;
    margin-right: 10%;
}
div.contenu h2, h3, h4 {
    color: #b34b32;

}
div.contenu p{
    color: #62757c;

}