.container-actualites {
    display: flex;
align-items: center;
    padding: 20px 25px;}

.card {
    width: 450px; /* Largeur de votre carte */
    height: 600px; /* Hauteur de votre carte */
position: relative;
border-radius: 5px; /* Coins arrondis */
background-color: rgba(184, 184, 184, 0.39);
    box-sizing: border-box; /* Inclure la bordure dans les dimensions */
    margin-right: 60px; /* Marge entre les cartes (à ajuster selon vos besoins) */
    margin-bottom: 40px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.flex
{
    display: flex;
    justify-content: center;
}
.row {
    flex-direction: row;
}
    .video-ytb {
        display: flex;

        aspect-ratio: 16/9;
        flex-grow: 1;
        objet-fit: cover;
        width: 100%;


        margin: 0 0 20px 0;
        position: relative;
        margin-bottom: 10px;


}
.description {
    max-height: 100%; /* Ensures the text doesn't overflow the card */
    overflow-y: auto; /* Adds scrollbar if text is too long */
    padding-right: 10px;


}

.readmore-btn{
    display:block;
    color:#b34b32;
    cursor:pointer;
    margin-top:15px;


}
.seeMore {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
img {

    aspect-ratio: 16/9;
    flex-grow: 1;
    objet-fit: cover;
    width: 100%;


    margin: 0 0 20px 0;
    position: relative;
    margin-bottom: 10px;

}
.image-actu
{
    display: flex;

}

.full-text{
    display:inline;
    text-align: justify;
}
.p-block-3 {

    width: 80%;
    border :1px solid #ddd;
    padding: 10px;
    line-height: 1.1rem;
    border-radius: 6px;
    padding: 10px;
    font-size: medium;

}

.p-block-3 > p {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}

.p-block-3:hover{
    border: 1px solid black;
}