.container-actualites {
    display: flex;
align-items: center;
    padding: 20px 25px;}

.card {
    width: 400px; /* Largeur de votre carte */
    height: auto; /* Hauteur de votre carte */
    position: relative;
    border-radius: 5px; /* Coins arrondis */
    background-color: rgba(184, 184, 184, 0.39);
    box-sizing: border-box; /* Inclure la bordure dans les dimensions */
    margin-bottom: 40px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.30);
    overflow: hidden;
}

.margH150{
    margin-top: 150px;
}
.flex
{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.row {
    flex-direction: row;
}
    .video-ytb {
        display: flex;

        aspect-ratio: 16/9;
        flex-grow: 1;
        objet-fit: cover;
        width: 100%;


        margin: 0 0 20px 0;
        position: relative;
        margin-bottom: 10px;


}
.description {
    max-height: 100%; /* Ensures the text doesn't overflow the card */

    padding-right: 10px;


}

.readmore-btn{
    display:block;
    color:#b34b32;
    cursor:pointer;
    margin-top:15px;


}
.seeMore {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.image-actu iframe {
    width: 100%;
    height: 285px;
    object-fit: cover; /* l'image couvre toute la zone sans se déformer */
    display: block; /* élimine les espaces blancs au bas de l'image */
}
.image-actu {
    width: 400px; /* largeur fixe pour le conteneur */
    height: 300px; /* hauteur fixe pour le conteneur */
    overflow: hidden; /* masquer les parties débordantes de l'image */
    position: relative;
}

.image-actu img {
    width: 100%;
    height: 285px;

    display: block; /* élimine les espaces blancs au bas de l'image */

}

.full-text{
    display:inline;
    text-align: justify;
}
.p-block-3 {

    width: 80%;
    border :1px solid #ddd;
    padding: 10px;
    line-height: 1.1rem;
    border-radius: 6px;
    padding: 10px;
    font-size: medium;
    text-align: justify;
}

.p-block-3 > p {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: normal;

}

.p-block-3:hover{
    border: 1px solid black;
}



@media screen and (max-width: 480px) {
    .flex
    {
        display: flex;
       flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;

    }
    .container-actualites {
        padding: 10px; /* Réduire le padding pour les petits écrans */
    }
    .card {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 20px; /* Réduire l'espacement en bas des cartes */
        overflow: hidden;
        border-radius: 0;
    }
    .image-actu iframe {
        width: 95%; /* Vidéo prend toute la largeur */
    }
    .image-actu img {
        width: 95%;

    }
    .description {
        padding-right: 5px; /* Réduire le padding pour les petits écrans */
        overflow: hidden;
    }
    .readmore-btn {
        text-align: center; /* Centrer le bouton */
    }
    .p-block-3 {
        width: 80%;
        padding: 15px; /* Ajuster le padding */
        text-align: center; /* Centrer le texte */
        overflow: hidden;
    }
    .full-text {
        text-align: center;
        padding-right: 5px;
        overflow: hidden;
    }
    h3{
        text-align: center;
    }
}